:host {
  display: block;
  min-height: 100vh;
  color: #383674;
  font-family: 'Trebuchet MS', 'Segoe UI', sans-serif;
}

.global-loader {
	position: fixed;
	inset: 0;
	z-index: 9999;
	display: grid;
	place-items: center;
	background: rgba(22, 22, 22, 0.466);
}

.global-loader .loading {
	width: 7rem;
	height: 7rem;
	color: #8f8c99;
}
